.title {
  background-color: #E32459;
  padding: 1rem;
  font-size: 2rem;
  color: #F8F2F6;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.content-container label {
  font-size: 1.25rem;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.content-container input {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 1rem 0;
}

.content-container select {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 1rem 0;
}

.content-container textarea {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
}

.content-container button {
  width: 50%;
  padding: 1rem 0;
  margin: 0 auto;

  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}