.title {
  background-color: #E32459;
  padding: 1rem;
  font-size: 2rem;
  color: #F8F2F6;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container label {
  align-self: baseline;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  font-weight: bold;
  font-size: 1.125rem;
  color: #E32459;
}

.content-container button {
  color: #FFFFFF;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;

  padding: 1rem 8rem;
  background: #4470C0;
  border-radius: 999px;
  margin: 2rem 0 2rem 0;
  border: none;
  cursor: pointer;
}

.content-container button:hover {
  background-color: #336cd6;
}

.content-container select {
  width: 90%;
  height: 1.5625rem;


  background: #D9D9D9;
  border-radius: 999px;
}

.content-container textarea {
  width: 90%;
  height: 15.625rem;

  background: #D9D9D9;
  border-radius: 35px;
}