@import url('https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3dbe0;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-container-logged-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.header-container-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.header-container-logged-in ion-icon {
  font-size: 2rem;
}

.header-container img {
  width: 100px;
  height: 100px;
}

.header-container-logged-out .logo-inteli {
  height: 50px;
}

.aside-container {
  background-color: #E32459;
  height: 100%;
  width: 85%;
  position: absolute;
  left: 0;

  display: none;
  flex-direction: column;
  gap: 2rem;
  z-index: 999;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.aside-container .header-aside-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem;
}

.aside-container .links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aside-container .links-container a {
  padding: 1.25rem 3rem;
  background-color: #ffffff;
  width: 80%;
  text-align: center;
  border-radius: 30px;

  font-size: 1.25rem;
  text-decoration: none;
  color: #E32459;
}

.aside-container .links-container a:visited {
  color: #E32459;
}

.footer-container {
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8F959D;
  margin-top: auto;
}

.footer-container p {
  color: #fff;
  text-transform: uppercase;
}

.footer-container img {
  width: 5rem;
  height: 5rem;
}

h1, h2 ,h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

p, span, label, input, textarea, strong {
  font-family: 'Lora', serif;
} 

@media (min-width: 1024px) {
  .aside-container {
    width: 30%;
  }
}